@using Microsoft.AspNetCore.Identity
@model RoleViewModel
@*model IEnumerable<ApplicationRole>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService;*@

@{
    ViewBag.Title = "Todos los roles";
}

<h1>Todos los roles</h1>

@if (Model.Roles.Any()) {
    <a class="btn btn-info mb-3" asp-action="CreateRole" asp-controller="Administration">
        Agregar nuevo
    </a>

    foreach (var role in Model.Roles) {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h4 class="card-title">@role.Name</h4>
                <h5 class="card-title">@role.Description</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    @if (Model.CanEdit) {
                        <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-warning">
                            Editar
                        </a>
                    }
                    @if (Model.CanDelete) {
                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                            <span>¿Estas seguro que quieres borrarlo?</span>
                            <button type="submit" class="btn btn-danger">Sí</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Eliminar</a>
                        </span>
                    }
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Aún no se han creado roles
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Utilice el botón de abajo para crear un rol
            </h5>
            <a class="btn btn-info" asp-controller="administration" asp-action="CreateRole">
                Crear rol
            </a>
        </div>
    </div>
} 

<script>
    function confirmDelete(uniqueId, isTrue) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>