@model University.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Instructores";
}

<h1>Instructores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de contratación</th>
            <th>Oficina</th>
            <th>Cursos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors) {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["InstructorID"]){
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if(item.OfficeAssignment != null) {@item.OfficeAssignment.Location}
                </td>
                <td>
                    @foreach (var course in item.CourseAssignments){
                        @course.Course.CourseID @course.Course.Title <br>
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID" class="btn btn-small btn-primary">Select</a> 
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-small btn-warning">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-small btn-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-small btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Courses != null)
{
    <h3>Cursos impartidos por el instructor seleccionado</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Estudiantes incritos en el curso seleccionado
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}